@model _20201110_ALS2.Models.ViewModels.StudentListViewModel

@{
  ViewData["Title"] = "Home Page";
}

<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>

<form asp-action="AbsenceList" method="post">
  <table class="table-bordered bg-white">
    <thead>
      <tr>
        <th>Navn</th>
        <th>Fremmødt</th>
        <th>Fraværende</th>
        <th>Virtuelt Tilstede</th>
      </tr>
    </thead>
    <tbody>
      @for (int i = 0; i < Model.StudentsList.Count; i++) {
         
        <tr>
          <td>
            @Model.StudentsList[i].Name
          </td>
          <td class="text-center">
            @*<input type="checkbox" name="statusList[@i].status" value="attended" checked />*@
            @Html.RadioButtonFor(sl => sl.StatusList[i], @Model.StudentsList[i].StudentId + ":attended")
          </td>
          <td class="text-center">
            @Html.RadioButtonFor(sl => sl.StatusList[i], @Model.StudentsList[i].StudentId + ":absent")
          </td>
          <td class="text-center">
            @Html.RadioButtonFor(sl => sl.StatusList[i], @Model.StudentsList[i].StudentId + ":virtual")
          </td>
        </tr>
      }

    </tbody>
  </table>

  <div>
    <input class="btn bg-white" type="submit" value="Submit" />
  </div>
</form>
