@model IQueryable<Course>

@{
  Layout = "_Layout";
}

<body>
  <table class="table table-striped table-bordered table-sm">
    <tr>
      <th>Fag</th>
      <th>Underviser</th>
      <th>Starttid</th>
      <th>Sluttid</th>
      <th>Redigere</th> 
    </tr>

    @foreach (Course course in Model) {
      <tr>
        <td>@course.Name</td>
        <td>@course.Educator</td>
        <td>@course.StartDate.ToShortDateString()</td>
        <td>@course.EndDate.ToShortDateString()</td>
        <td class="text-center">
          <form asp-action="DeleteCourse" method="post">
            <a class="btn btn-sm btn-primary" asp-action="EditCourse" asp-route-courseId="@course.CourseId">Edit</a>
            <input type="hidden" name="CourseId" value="@course.CourseId" />
            <button class="btn btn-sm btn-info" type="submit">Delete</button>
          </form>
        </td>
      </tr>
    }
  </table>

  <div class="text-center">
    <a class="btn btn-lg btn-success" asp-action="CreateCourse">Tilføj Fag</a>
  </div>
</body>
